<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homePage.css">
    <script src="/homePage.js" defer></script>
</head>
<body>

    <div class="update-user">
           
        <form action="/" method="post">
                <label>Username:</label> <input type="text"value='<%= user.imePrezime %> '>
                <label>BrojTelefona:</label> <input type="text"value='<%= user.brojTelefona %> '>
                <label>Password:</label> <input type="text"value='<%= user.password %> '>
        </form>
</div>
    <div class="user"><img src="/imagesForSite/user.png" alt=""> <%= user.imePrezime %>

    </div> 
    <form action="/logout?_method=DELETE" method="post" class="logout">
    <button type="submit">Log Out</button>
</form>
<div class="korpa"><img src="/imagesForSite/korpa96.png" alt=""></div>

<div class="container">
    <div class="prvi">
        <h1>VBGlovo</h1>
    </div>
</div>
<div class="container">
    <div class="drugi">
        <form action="">
            <input type="text" placeholder="Trazi...">
        </form>
        <div class="lupa"><img src="/imagesForSite/magnifyingGlass.png" alt=""></div>
    </div>

</div>
<div class="container">
    <div class="treci">
        <% prodavnica.forEach(prodavnica=>{%>
       <div class="prodavnica">
        <a href="<%=prodavnica.id%>"></a>
        <img src="<%= prodavnica.slika %>" alt="">
        <h2><%= prodavnica.imeProdavnice %></h2>
       </div>

      <% })  %> 

    </div>
</div>

<div class="iframe"><iframe src="/korpa"></iframe></div>
<div class="potvrdi"><form action="/posaljiEmail" method="post"><button>Potvrdi</button></form></div>
<div class="poruka"><%= locals.poruka %></div>

</body>
</html>