<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/meniPage.css">
    <script src="/meniPage.js" defer></script>
</head>

<body>
<div class="korpa"><img src="/imagesForSite/korpa96.png" alt=""></div>
<div class="heading">
    <div class="backToHome">
        <a href="/"></a>
    </div>
    <div class="user"><img src="/imagesForSite/user.png" alt="">
        <%= user.imePrezime %>

    </div>
    <form action="/logout?_method=DELETE" method="post" class="logout">
        <button type="submit">Log Out</button>
    </form>
    <div class="container">
        <div class="prvi">
            <h1> <%=prodavnica.imeProdavnice %> </h1>
        </div>
    </div>
</div>
    <div class="container">
        <div class="drugi">
            <form action="">
                <input type="text" placeholder="Trazi...">
            </form>
            <div class="lupa"><img src="/imagesForSite/magnifyingGlass.png" alt=""></div>
        </div>

    </div>
    <div class="container" id="prodavnice">
        <% prodavnica.meni.forEach(segment=> { %>
            <div class="segment">
                <h2><%=segment.segment%></h2>
                <div class="box-holder">
                    
                    <% segment.jela.forEach(jelo=>{%>
                        <div class="box">
                            <div class="naziv" style="text-transform: capitalize;"><h4><%=jelo.jelo %></h4></div>
                            <div class="brojevi"><%= jelo.cena %> rsd</div>                    
                            <div class="naruci"><button>Naruci</button></div>
                            <div class="prekobox">
                               
                                <div class="kolicina"><h2><%= jelo.jelo %></h2></div>
                                <div class="specijal">
                                <div class="kol">
                                    <form action="/<%=prodavnica.id %>" method="post">
                                     Kolicina: <input type="number" min="1" value="1"  name="kolicina" id=""> </div>
                                    <%if(jelo.specijal){ %>
                                    <select name="specijal" id="specijal">

                                    <% jelo.specijal.forEach(specijal => { %>
                                            <option value="<%=specijal.vrednost%>"><%=specijal.ime%></option>
                                        
                                  <%  }); %>
                                </select>
                                

                               <% } %> </div>
                               <input type="text" name="jelo" style="display: none;"  value="<%= jelo.jelo %>" id="">
                                <div class="cena">Cena: <span><%= jelo.cena%></span> rsd  </div>
                                <input type="text" name="cena" style="display: none;"  value="<%= jelo.cena %>" id="">
                                <div class="naruci"><button type="submit">Potvrdi</button></div>
                            </form>

                             </div>  
                         </div>

                    <%}) %> 
                        
                </div>



            </div>
        <% }); %>
               
    
</div>

<div class="iframe"><iframe src="/korpa"></iframe></div>
<div class="potvrdi"><form action="/posaljiEmail" method="post"><button>Potvrdi</button></form></div>

</body>

</html>